*{
  margin:2px;
  /* padding:2px; */
  /* box-sizing:border-box; */
  outline:none;
  color: transparent;
  text-shadow: 0 0 0 #2196f3;
}

.game-area {
  position: absolute;
  /* margin: 50px auto; */
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  height: 400px;
  background-color: aliceblue;
  border: 2px solid #000;
  cursor:none;
}
.snake-dot{
  position:absolute;
  width:2%;
  height:2%;
  background-color:#000;
  border: 1px solid #fff;
  z-index:2;
}
.snake-food{
  position: absolute;
  width: 2%;
  height: 2%;
  background: red;
  border: 1px solid #fff;
  z-index:1;
}